In [1]:
##dependencies for Step1
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from splinter.exceptions import ElementDoesNotExist
import time

In [2]:
##path for chrome driver to use in browser
executable_path = {"executable_path": "chromedriver_win32/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

# NASA Mars News

In [71]:
## where to get News information from
url1 = 'https://mars.nasa.gov/news/'
browser.visit(url1)

In [72]:
## defined for news search
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [74]:
## need this line, without it news_title finds wrong item
articles = soup.find_all('li', class_='slide')[0]
articles

<li class="slide"><div class="image_and_description_container"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers test drive Perseverance Mars rover's twin." src="/system/news_items/list_view_images/8749_PIA23964-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Readies Perseverance Mars Rover's Earthly Twin </h3></div></div></a><div class="list_text"><div class="list_date">September  4, 2020</div><div class="content_title"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self">NASA Readies Perseverance Mars Rover's Earthly Twin </a></div><div class="article_teaser_body">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div></div></div></li>

In [79]:
## select the second in list, (since first is not correct)
news_title = articles.find('div', class_='content_title').text

In [80]:
## search top of list for section called 'article_teaser_body'
news_p = articles.find('div', class_='article_teaser_body').text

In [81]:
print(f'news_title= "{news_title}"')
print(f'news_p= "{news_p}"')

news_title= "NASA Readies Perseverance Mars Rover's Earthly Twin "
news_p= "Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."

# JPL Mars Space Images - Featured Image

In [82]:
## where to get space images from
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [83]:
## redefine for image search
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [84]:
ft_image= soup.find('article', class_="carousel_item")['style']
image = ft_image.replace("background-image: url('",'')
full_image = image.replace("');", '')
full_image

'/spaceimages/images/wallpaper/PIA19177-1920x1200.jpg'

In [85]:
featured_image_url = (f'https://www.jpl.nasa.gov{full_image}')
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19177-1920x1200.jpg'

# Mars Facts

In [86]:
## where to get facts from
url3 = 'https://space-facts.com/mars/'
# browser.visit(url3)

In [91]:
## pandas table scrape
tables = pd.read_html(url3)
fact_df = pd.DataFrame(tables[0])

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [95]:
fact_df.columns=['','Mars']
facts_df = fact_df.set_index([''])
facts_df

                                               Mars

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [96]:
html_string = facts_df.to_html()
html_table=html_string.replace('\n','')

In [97]:
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [98]:
## where to get hemisphere info
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)

In [99]:
## redefine for hemisphere
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [100]:
## what to loop through
products = soup.find('div', class_='collapsible results')
hemispheres = products.find_all('div',class_='item')

In [101]:
## what all image URLs start with
url_start = 'https://astropedia.astrogeology.usgs.gov/'

In [109]:
## appendable list for "for" loops
hemisphere_image_urls=[]

In [112]:
## loop to get URLs and images from the Products
time.sleep(5)
for hemisphere in hemispheres:
    dictionary= {}
    title = hemisphere.find('h3').text.strip()
    dictionary['title']= title
    hem_url = hemisphere.a['href']
    hem_url1 = hem_url.replace('/search/map','download')
    hem_url2 = hem_url1.replace('enhanced','enhanced.tif/full.jpg')
    dictionary['img_url']=url_start+ hem_url2
    hemisphere_image_urls.append(dictionary)

In [113]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]